{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Les Livres</h1>

		<ul>

			{% for livre in liste_livres %}
            <li>
				<ul>


					<li>
						<h2>{{ livre.titre}}</h2>
					</li>
					<li>
						<h3>{{ livre.auteur}}</h3>
					</li>
					<li>
						<p>{{ livre.resume}}</p>
					</li>

				</ul>
			</li>
		{% endfor %}
	</ul>
</div>{% endblock %}
